body {
    padding: 25px;
    padding-bottom: 200px;
    background: #131416;
    font-family: arial, sans-serif;
}

/* ----------------------------- NAV BAR -------------------------------*/
nav {
    margin-bottom: 50px;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-color: wheat;
}

nav a {
    margin-left: 10px;
    font-weight: 300;
    color: #d8dcda;
    text-decoration: none;
}

nav a:hover {
    color: #949494;
    transition: 0.5s;
}

nav img {
    width: 20%;
}

/* ----------------------------------- END NAV BAR ------------------------------------------*/

#the_best_ranting_content {
    width: 65%;
    height:65%;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 5px ridge grey;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .3);
    border-radius: 25px;
    box-shadow: 1px 2px 15px white;
}

.best_rating_img_img {
    width: 350px;
    height:500px;
    display: inline-block;
    border: 3px ridge grey;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

.infos {
    min-width: 300px;
    min-height: 150px;
    padding:20px;
    display: inline-block;
    top: -150px;
    margin-left:25px;
    position: relative;
}

.infos .the_best_rating_title{
    color: white;
}

.infos .description {
    max-width: 500px;
    color: white;
}

.infos a {
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    text-decoration: none;
    border: 2px ridge grey;
    background: rgba(255, 255, 255);
    border-radius: 15px;
    color: black;
}

.infos a:hover {
    background: rgba(255, 255, 255, .5);
    color: white;
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 25px;
    background: rgba(77, 77, 77, .9);
    display: flex;
    justify-content: center;
    align-center: center;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal_content{
    margin-top: 75px;
    background: #131416;
    min-width: 500px;
    max-height: 600px;
    padding: 50px;
    border-radius: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px ridge grey;
    color: white;
    box-shadow: 5px 5px 10px black;
}

.info_content {
    padding: 25px;
    max-width: 500px;
    min-height: 150px;
    margin: 25px;
}

.modal_close {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 50px;
    text-decoration: none;
    color: white;
}

.url_img img {
    width: 300px;
    height: 100%;
}
/*categories_best_ranking*/

.categories_best_ranking{
    margin-top: 150px;
}

.categories_best_ranking h1{
    display: flex;
    justify-content: center;
    align-center: center;
    font-size: 35px;
    color: White;
}

#categories_best_ranking_ul {
    padding: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-center: center;
}

#categories_best_ranking_ul li{
    list-style-type: none;
}

.categories_best_ranking a {
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    text-decoration: none;
    border: 2px ridge grey;
    background: rgba(255, 255, 255);
    border-radius: 15px;
    color: black;
    margin-left: 20px;
}

/*categories_action*/

.categories_action{
    margin-top: 150px;
}

.categories_action h1{
    display: flex;
    justify-content: center;
    align-center: center;
    font-size: 35px;
    color: White;
}

#categories_action_ul {
    padding: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-center: center;
}

#categories_action_ul_li {
    padding: 20px;

}

#categories_action_ul li{
    list-style-type: none;
}

.categories_action a {
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    text-decoration: none;
    border: 2px ridge grey;
    background: rgba(255, 255, 255);
    border-radius: 15px;
    color: black;
    margin-left: 20px;
}

/*categories_sci_fi*/

.categories_sci_fi{
    margin-top: 150px;
}

.categories_sci_fi h1{
    display: flex;
    justify-content: center;
    align-center: center;
    font-size: 35px;
    color: White;
}

#categories_sci_fi_ul {
    padding: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-center: center;
}

#categories_sci_fi_ul li{
    list-style-type: none;
}

.categories_sci_fi a {
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    text-decoration: none;
    border: 2px ridge grey;
    background: rgba(255, 255, 255);
    border-radius: 15px;
    color: black;
    margin-left: 20px;
}

/*categories_crime*/

.categories_crime{
    margin-top: 150px;
}

.categories_crime h1{
    display: flex;
    justify-content: center;
    align-center: center;
    font-size: 35px;
    color: White;
}

#categories_crime_ul {
    padding: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-center: center;
}

#categories_crime_ul li{
    list-style-type: none;
}

.categories_crime a {
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    text-decoration: none;
    border: 2px ridge grey;
    background: rgba(255, 255, 255);
    border-radius: 15px;
    color: black;
    margin-left: 20px;
}

.button {
    display: flex;
    justify-content: space-between;
    align-center: center;

}

.previous, .next {
    width:100px;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    border: 2px ridge grey;
    background: rgba(255, 255, 255);
    border-radius: 10px;
    color: black;
    align-center: center;
    margin-top: 50px;
}

.img_categorie {
    width: 150px;
    margin-right: 75px;
    margin-bottom: 10px;
}

.movie_modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 25px;
    background: rgba(77, 77, 77, .9);
    display: flex;
    justify-content: center;
    align-center: center;
}

.movie_modal:target {
    visibility: visible;
    opacity: 1;
}

.div_movie_modal{
    margin-top: 75px;
    background: #131416;
    min-width: 500px;
    max-height: 600px;
    padding: 50px;
    border-radius: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px ridge grey;
    color: white;
    box-shadow: 5px 5px 10px black;
}

.movie_modal_info_content {
    padding: 25px;
    max-width: 500px;
    min-height: 150px;
    margin: 25px;
}
